<div class="row" style="margin-top: 10px;">
	<div class="span12 alert-top">
		
	</div>
</div>


<div class="span6 offset3">
	<h2><img src="/assets/logo2.png"/></h2>
	  <em>Rails, Devise, Mongoid, Omniauth and BackboneJS basic setup</em>
	  <div id="unauthenticated-view-container">
	    <ul class="nav nav-tabs">
	      <li class="active"><a href="#login" data-toggle="tab" data-content="login" id="login">Login</a></li>
	      <li><a href="#signup" data-toggle="tab" data-content="signup" id="signup">Sign up</a></li>
	      <li><a href="#retrieve-password" data-toggle="tab" data-content="retrievePassword" id="retrievepassword">Retrieve password</a></li>
	      <li><a href="/users/auth/facebook"><img src="http://www.bebo.com/img/facebook-login.png" /></a></li>
	    </ul>
	    <div class="tab-content" id="tab-content"></div>
	  </div>
</div>
