<div id="app-content" class="hero-unit">
	<ul class="thumbnails">
	  <li>
	    <div class="thumbnail select_role" id="role1">
	      <img src="/assets/role1.png" alt="Role 1" width="25%">
	      <h3>Role 1</h3>
	      <p>Text about Role 1.....</p>
	    </div>
	  </li>
	  <li>
	    <div class="thumbnail select_role" id="role2">
	      <img src="/assets/role2.png" alt="Role 2"  width="25%">
	      <h3>Role 2</h3>
	      <p>Text about Role 2.....</p>
	    </div>
	  </li>
	  <li>
	    <div class="thumbnail select_role" id="role3">
	      <img src="/assets/role3.png" alt="Role 3"  width="25%">
	      <h3>Role 3</h3>
	      <p>Text about Role 3.....</p>
	    </div>
	  </li>
	</ul>

</div>